# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Emacs backup files
*~
.vscode

# IDE etc. files
.pio/

# File system
.DS_Store

# User config
myConfig.h
myWiFi.h

# Python virtual environment
.venv/
